header {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 auto 1;

  nav {
    display: flex;
    flex-direction: row;
    align-items: space-around;

    li {
      list-style: none;

      &:not(:last-child) {
        margin-right: 1.75rem;
      }

      a {
        text-decoration: none;
        font-family: Satoshi, sans-serif;
        font-weight: 600;
        font-variation-settings: "wght" 600;
        color: var(--color-text-p);
        font-size: 1.125rem;
        line-height: 1.5;
        cursor: pointer;
        transition: 0.2s all ease;
        &:hover {
          text-shadow: 0 0 0.5rem var(--color-text-glow);
          text-decoration: underline;
        }
      }
    }
  }
}
