@import "../../mixin";

header {
  padding: 0.5rem 2rem 0.5rem 0.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1 auto 1;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  box-sizing: border-box;

  @include media-down(tablet) {
    padding: 0;
  }

  a.logo {
    h1 {
      margin: 0;
      box-sizing: border-box;
      font-size: unset;
      height: 4rem;

      svg {
        height: 4rem;

        filter feFlood {
          flood-opacity: 0.3;
          transition: 0.3s flood-opacity ease;
        }

        &:hover {
          filter {
            feFlood {
              flood-opacity: 0.7;
            }
          }
        }
      }
    }
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: space-around;

    @include media-down(tablet) {
      display: none;
    }

    li {
      list-style: none;

      &:not(:last-child) {
        margin-right: 2.5rem;
      }

      a {
        text-decoration: none;
        font-family: Satoshi, sans-serif;
        font-weight: 700;
        font-variation-settings: "wght" 700;
        color: var(--color-text-p);
        font-size: 1rem;
        cursor: pointer;
        transition: 0.2s all ease;
        &:hover {
          text-shadow: 0 0 0.5rem var(--color-text-glow);
          text-decoration: underline;
        }
      }
    }
  }

  .social-links-wrapper {
    @include media-down(tablet) {
      display: none;
    }
  }
}
