@import "../../mixin";

footer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2rem;
  margin-top: 2rem;

  @include media-down(tablet) {
    padding: 1rem;
    margin-top: 4rem;
    align-items: center;
    margin-bottom: 2rem;
  }

  @include media-down(mobile) {
    text-align: center;
  }

  .footer-row {
    &.first {
      margin-bottom: 2rem;

      @include media-down(tablet) {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-items: center;
      }

      .contributor-logo {
        width: 18rem;
        transition: 0.2s opacity ease;

        &:hover {
          opacity: 0.8;
        }

        @include media-down(mobile) {
          width: 10rem;
        }
      }
    }

    &.second {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;

      @include media-down(tablet) {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  p {
    margin: 0 1rem 0 0;
    font-size: 1rem;
  }

  a {
    color: var(--color-text-p);
  }
}

.social-links-wrapper {
  display: flex;
  flex-direction: row;

  @include media-down(tablet) {
    margin-top: 1rem;
  }

  a {
    cursor: pointer;
    transition: 0.2s all ease;
    &:hover {
      text-shadow: 0 0 0.5rem var(--color-text-glow);
      text-decoration: underline;
    }

    &.social-link {
      font-family: Satoshi, sans-serif;
      font-weight: 500;
      font-variation-settings: "wght" 500;
      color: var(--color-social-links);
      font-size: 1rem;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
}
